.BasicLink {
    cursor: pointer;
    color: blue;
    &:hover {
        text-decoration: underline;
    }
}

.Truncate {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.react-datepicker__triangle {
    left: 200px !important;
}

@media print {
    .SampleClass {
        position: absolute;
        left: 0;
        top: 0;
        margin: 0;
        padding: 0;
        overflow: visible!important;
    }
}