.card-registration {
    margin-bottom: 2%;
    padding: 5%;
}

.registration-header-text {
    margin-bottom: 5% !important;
}

.registration-inputs {
    margin-bottom: 4% !important;
}

.submit-button-left {
    float: right !important;
    margin-top: 10px !important;   
}

.fb-create-button {
    background: #3A559F !important;
    border-radius: 3px !important;
    border: 0 !important;
    color: 'white' !important;
    box-shadow: #3A559F !important;
    width: 100% !important;
    margin-bottom: 1% !important;
}

.google-create-button {
    background: #DD4D42 !important;
    border-radius: 3px !important;
    border: 0 !important;
    color: 'white' !important;
    box-shadow: #DD4D42 !important;
    width: 100% !important;
    margin-bottom: 3% !important;
}

.registration-alert-info {
    margin-bottom: 3% !important;
}

.success-icon-regsiter {
    color: green;
}

.success-text-regsiter {
    color: green;
    font-weight: bold !important;
}

.success-register {
    display: flex;
    justify-content: center;
    align-items: center;
}