.bgimage {
    background-image: url("contactBG1.png");
    height: 450px;
    width: 100%;
    position: absolute;
}

.container-contact {
    margin-top: 10%;
}

.card-contact {
    padding: 3%;
    min-height: 363px;
}

.contact-form {
    margin-top: 30px !important;
}

.connect-with-us-contact {
    display: flex;
    justify-content: center;
    align-items: center;
}

.margin-top-contact-30 {
    margin-top: 30%;
}

.margin-top-contact-3 {
    margin-top: 3%;
}

.submit-contact-button-left {
    float: right !important;
    margin-top: 20px !important;   
}

.typo {
    text-align: center;
    color: white;
}